
<!--
<button class="readFiles" mat-raised-button *ngFor="let file of files" (click)="readFileFromFirebase(file)"> read files</button>
-->

<span *ngIf="!isLoading">
  <div class="button-row">
    <a mat-raised-button href="/upload">Upload files</a>
  </div>
  <div><button class="buttonCompare" mat-raised-button>Compare</button></div>

  <app-filelist [files]="files" [deleteFileFromList]="deleteFileFromList" [canSelect]="true"></app-filelist>
</span>
<mat-spinner *ngIf="isLoading"></mat-spinner>



