
.button-row{
  padding: 15px;
}
.button-row button:not(:last-of-type) {
  margin-right: 8px;
}

button{
  border: 2px solid powderblue;
  padding: 5px;
  color: blueviolet;
}
button:hover{
  background: lightblue;
}
