

<div>
  <br>
  <button mat-raised-button class="buttonShow" (click)="showDateOfFiles(file)" i>Show Data</button>
  <mat-list *ngIf="files && files.length > 0">
    <mat-list-item *ngFor="let file of files" (click)="file.checked = !file.checked" (click)="clickedFiles(file)"   style="cursor: pointer">
      <span *ngIf="canSelect">
        <mat-checkbox
          class="mat-checkbox"
          [(ngModel)]="file.checked"
          (change)="clickedFiles(file)"
          ></mat-checkbox>
      </span>
      <span>{{file.name}}</span>
      <span *ngIf="this.deleteFileFromList"><button mat-button (click)="removeItem(file.name)"><mat-icon fontIcon="home"> delete </mat-icon></button></span>
    </mat-list-item>
  </mat-list>
</div>



