
mat-list-item:hover {
  background: lightblue;
}
.mat-checkbox{
  padding-right: 10px;
}
.buttonShow{
  border: 2px solid powderblue;
  padding: 8px;
  color: blueviolet;
  margin-left: 15px;
}
.buttonShow:hover{
  background: lightblue;
}
